/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Reset CSS Default Formatting
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

*{box-sizing:border-box;}

body{
	background-color:#3D4849;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:5;
}

h1{
	position:relative;
	color:white;
	font-size:20px;
	padding: 15px;
}

#main-header{
	color:white;
}

.rainbow-head{
	width:100%;
	height:10px;
	display:block;
	position:relative;
}
	.top-bleed div:nth-child(1) {
    position: absolute;
    background: #ffaa00;
    width: 10%;
    height: 5px;
    display: block;
    left: 0%; }
  .top-bleed div:nth-child(2) {
    position: absolute;
    background: #aaff00;
    width: 10%;
    height: 5px;
    display: block;
    left: 10%; }
  .top-bleed div:nth-child(3) {
    position: absolute;
    background: lime;
    width: 10%;
    height: 5px;
    display: block;
    left: 20%; }
  .top-bleed div:nth-child(4) {
    position: absolute;
    background: #00ffaa;
    width: 10%;
    height: 5px;
    display: block;
    left: 30%; }
  .top-bleed div:nth-child(5) {
    position: absolute;
    background: #00aaff;
    width: 10%;
    height: 5px;
    display: block;
    left: 40%; }
  .top-bleed div:nth-child(6) {
    position: absolute;
    background: blue;
    width: 10%;
    height: 5px;
    display: block;
    left: 50%; }
  .top-bleed div:nth-child(7) {
    position: absolute;
    background: #aa00ff;
    width: 10%;
    height: 5px;
    display: block;
    left: 60%; }
  .top-bleed div:nth-child(8) {
    position: absolute;
    background: #ff00aa;
    width: 10%;
    height: 5px;
    display: block;
    left: 70%; }
  .top-bleed div:nth-child(9) {
    position: absolute;
    background: red;
    width: 10%;
    height: 5px;
    display: block;
    left: 80%; }
  .top-bleed div:nth-child(10) {
    position: absolute;
    background: #ffaa00;
    width: 10%;
    height: 5px;
    display: block;
    left: 90%; }
}

.slideshow-container{
	position:relative;
	margin-top:2%;
	margin-left:20%;
	height:60%;
	width:60%;
}

.slide{
	width:55%;
	height:55%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.dot {
	height:12px;
	width:12px;
	margin: 0 2px;
	background-color:#bbb;
	border-radius:50%;
	display: inline-block;
	transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}
